@font-face {
    font-family: poppins;
    src: url(./font/Poppins-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    font-family: poppins;

}

.rightNav>.nameMain {
    color: #14279B;
    font-weight: 500;
}

.rightNav>.nameMain>.name {
    color: #002265;
    font-size: 2rem;
    font-weight: bolder;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    gap: 50px;
    height: 50px;

}

.leftNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.leftNav {
    display: flex;

}

.leftNav>ul {
    display: flex;
    gap: 50px;
}

.leftNav>ul li a {

    color: black;
    text-decoration: none;
}

.leftNav>ul li {
    list-style: none;
}

.btn {
    padding: 10px 18px;
    border-radius: 10px;
    background: #608AF5;
    color: #fff;
    border: none;
    font-size: 16px;
}


.hemBurger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;

}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.upper {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 5% 10%;
    /* margin: 5% 8%; */
    height: 50vh;
    gap: 20%;
}

.upper>div {
    width: 40%;
}

.left-upper {
    line-height: 40px;
}

.left-upper #element {
    color: #002265;
    font-size: 4rem;
    font-weight: bolder;
}

.upper-nameMain {
    font-size: 6rem;
    font-weight: bolder;
    color: #002265;
    ;
}

.upper-name {
    font-size: 4.5rem;
    font-weight: 900;
    color: #14279B;
}

.pera {
    font-size: 2.5rem;
    font-weight: bold;
}


.right-upper {
    width: 100%;


}

.right-upper>img {

    width: 100%;

}



















@media screen and (max-width: 1280px) {

    .navbar {
        height: 60px;
    }

    .upper {
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .left-upper>div {
        width: 100%;

    }

    .left-upper #element {
        color: #002265;
        font-size: 3.5rem;
        font-weight: bolder;
    }

    .right-upper>img {

        width: 100%;
        height: 50%;
    }



}


@media screen and (max-width: 920px) {
    .rightNav>.nameMain {
        position: absolute;
        left: 50px;
        top: 5px;
    }

    .navbar {
        height: 80px;
    }

    .leftNav {
        display: none;
    }

    .hemBurger {
        display: block;
    }

    .upper {
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .upper-name {
        font-size: 2.5rem;
    }

    .upper-nameMain {
        font-size: 2.5rem;
    }

    .pera {
        font-size: 1.5rem;
    }

    .left-upper>div {
        width: 100%;
    }
 

    .left-upper #element {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .right-upper>img {
        width: 100%;
        height: 100%;

    }

}

@media screen and (max-width: 460px) {

    .hemBurger {
        position: absolute;
        right: 20px;
        width: 25px;
        height: 2px;
        margin: 2px 0;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        margin: 5px 0;
    }

    .left-upper {
        line-height: 10px;
        width: 100%;
    }


    .left-upper>div {
        width: 100%;
    }

    .left-upper #element {
        font-size: 1.2rem;
        font-weight: bolder;
    }

    .pera {
        font-size: 1rem;
    }

    .rightNav>.nameMain {
        position: absolute;
        left: 20px;
        font-size: 1.3rem;

    }

    .rightNav>.nameMain>.name {
        font-size: 1.4rem;
        font-weight: bolder;
    }

    .right-upper {
        /* padding-right:40px ; */
    }

    .right-upper>img {
        width: 80%;
        height: 50%;

    }

}